<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Fichier distant CrocShare</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.crocshare.placeholder</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Invitation CrocShare</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.crocshare.invite</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>CrocShare</string>
	<key>CFBundleIdentifier</key>
	<string>com.crocshare.lab</string>
	<key>CFBundleName</key>
	<string>CrocShare Lab</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0-p2p</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.1</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>Whc8u7dF8m4CqdZodXPFsm/DteW5aHcCE32GcUeSHnQ=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fichier distant CrocShare</string>
			<key>UTTypeIdentifier</key>
			<string>com.crocshare.placeholder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>croc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Invitation CrocShare</string>
			<key>UTTypeIdentifier</key>
			<string>com.crocshare.invite</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>crocinvite</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
